// COLOR
$color-xanh: #050d9e;
$color-vang:#ffde17;
$color-bg-vang:#ffcb05;


// MIXIN
@mixin media($min-w, $max-w) {
  @media screen and (min-width:$min-w) and (max-width:$max-w){
    @content;
  }
}
@mixin transition($trans...) {
  transition: $trans;
  -webkit-transition: $trans;
  -moz-transition: $trans;
}
// CUSTOMER LOGIN
html, body{
  width:100%;
  height:100%;
}
.fullwidth{
  width:100%;
  height:100%;
  @include media(320px, 480px){
    height:auto;
    min-height: 100%
  };
}
.bg-login{
  background-image:url('../images/customers/bg-login.jpg');
  background-position: left top;
  background-size:cover;
  background-repeat: no-repeat;
  @include media(320px, 480px){
    background-size:100% 100%;
  };
}

.wrap-panel{
  display:table;
  max-width:600px;
  height:100%;
  margin:0 auto;
  @include media(320px, 480px){
    padding:30px 0;
  };
  .wrap-table-cell{
    display:table-cell;
    vertical-align: middle;
    margin-top:-5%;
    div.logo{
      margin-bottom:30px;
      text-align: center;
      @include media(320px, 480px){
        margin-bottom: 15px;
      };
    }
    h2.title, h3.note{
      font-size:25px;
      line-height: 40px;
      text-align: center;
      font-family: 'gillsansregular', sans-serif;
      color:white;
      text-transform: uppercase;
      margin-bottom:40px;
      @include media(320px, 480px){
        font-size:18px;
        line-height:30px;
        margin-bottom: 20px;
      };
      span{
        display:block;
      }

    }
    h3.note{
      font-size:20px;
      text-transform: none;
      @include media(320px, 480px){
        font-size:15px;
        line-height: 25px;
        margin-bottom:20px;
      };
    }
    .wrap-form{
      width:80%;
      margin:0 auto;
      @include media(320px, 480px){
        width:95%;
      };
      .form{
        input{
          padding-right:10px;
          padding-left:43px;
          background:none;
          border-radius: 0;
          border:none;
          border-bottom:1px solid #ccc;
          box-shadow:none;
          color:white;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: white;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: white;
        }
        i.right-feedback{
          right:auto;
          left:0;
          color:white;
          font-size:16px;
        }
        input[type="submit"], a.back{
          padding:6px 25px;
          min-width:125px;
          border-radius:15px;
          display:inline-block;
          background:transparent;
          color:white;
          font-size:12px;
          line-height: 14px;
          border:1px solid white;
          text-transform: uppercase;
          outline: none;
          @include transition(all 0.3s);
          &:hover{
            background:$color-xanh;
            color:$color-vang;
            border-color:transparent;
          };
        }
        input[type="submit"]{
          @include media(320px, 480px){
            margin-bottom: 10px;
          };
        }
      }
    }
  }
}

// ALBUM PAGE
.wrap-title-blog{
   padding:0 15px;
   h2{
     @include media(320px, 480px){
       font-size: 18px;
     };
   }
   p{
     text-align: justify;
   }
}
.section-show{
  h2.title-page{
    padding-left:15px;
    margin-bottom:20px;
    text-align: center;
  }
  .each{
    position:relative;
    overflow: hidden;
    img{
      margin: 0 auto 15px;
    }
    div.overlay{
      position:absolute;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.5);
      z-index:5;
      top:15px;
      left:0;
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.3s);
    }
    h3.title-album{
      margin:0;
      font-size:16px;
      color:$color-xanh;
      text-align: center;
      // position:absolute;
      // top:50%;
      // left:-20%;
      // transform:translateX(-50%) translateY(-50%);
      // -webkit-transform:translateX(-50%) translateY(-50%);
      // -moz-transform:translateX(-50%) translateY(-50%);
      // z-index: 10;
      // opacity: 0;
      // @include transition(all 0.3s 0.2s);

    }
    &.each-lastest{
      @include media(320px, 480px){
        margin-bottom:20px;
      };
    }
    &.each-lastest:hover{
      // div.overlay{
      //   top:0;
      //   opacity: 1;
      //   visibility: visible;
      // }
      // h3.title-album{
      //   opacity: 1;
      //   visibility: visible;
      //   left:50%;
      // }
    }
    &.each-all{
      margin-bottom:30px;
      // h3.title-album{
      //   left:50%;
      //   transform:translateX(-50%) translateY(-50%) scale(1.5);
      //   -webkit-transform:translateX(-50%) translateY(-50%) scale(1.5);
      //   -moz-transform:translateX(-50%) translateY(-50%) scale(1.5);
      // }
      &:hover{
        // h3.title-album{
        //   opacity: 1;
        //   visibility: visible;
        //   transform:translateX(-50%) translateY(-50%) scale(1);
        //   -webkit-transform:translateX(-50%) translateY(-50%) scale(1);
        //   -moz-transform:translateX(-50%) translateY(-50%) scale(1);
        // }
        // div.overlay{
        //   top:0;
        //   opacity: 1;
        //   visibility: visible;
        // }
      }
    }
  }

  &.all-album{
    .inner-section{
      border-bottom: 2px solid white;
    }
    .wrap-title-page{
      position:relative;
      text-align: center;
      .btn-showall{
        position:absolute;
        display: inline-block;
        // padding:6px 20px;
        // background:$color-xanh;
        color:$color-xanh;
        font-size:12px;
        right:15px;
        top:50%;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        @include media(320px, 480px){
          position: static;
        };
      }
    }
  }
}


// PHOTO PAGE
.inner-section{
    @include media(320px, 480px){
      padding:15px 0 !important;
    };
}
.wrap-photo-super{
  a.btn-back{
    font-size:1.4rem;
    font-weight: 600;
    color:$color-xanh;
    padding:6px 12px;
    background:transparent;
    @include transition(all 0.3s);
    &:hover{
      background:$color-xanh;
      color:white;
    }
  }
}
.load-photo{
  p.note{
    font-size:1.4rem;
    font-weight:600;
    text-align: center;
    text-transform: uppercase;
  }
  .each-all{
    margin-bottom:20px;
    height:235px;
    overflow: hidden;
    @include media(320px, 480px){
      height:auto;
    };
    img{
      margin:0 auto;
    }
    a{
      color:$color-xanh;
    }
    h3.title-album{
      margin:0;
      margin-top:10px;
      text-transform:none;
      font-size:14px;
      color:$color-xanh;
      font-weight: 400;
      font-style: italic;
      @include media(320px, 768px){
        font-size:12px;
        text-align: center;
      };
    }
  }
}
.remodal{
  .wrap-photo{
    position:relative;
    &:before{
      content:'';
      display:block;
      width:100%;
      height:25px;
      background:rgba(255,255,255,0.5);
      position: absolute;
      top:0;
      left:0;
    }
    img{
      margin: 0 auto 20px;
      @include media(320px, 768px){
        margin:0 auto;
      }
    }
    p.caption{
      font-size:14px;
      color:$color-xanh;
      @include media(320px, 768px){
        position:absolute;
        bottom:0;
        left:0;
        padding:5px;
        font-size:12px;
        margin:0;
        width:100%;
        background:rgba(255,255,255,0.5);
        text-align: left;
      };
    }
  }
  @include media(320px, 768px){
    padding:0px !important;
  };
}

.tp-caption{
  top:15%;
  left:5%;
  p{
    text-transform: uppercase;
    @include media(320px, 480px){
      font-size:28px;
    };
  }
}
// SUPER USER ALBUM
section.wrap-searchtour{
  .wrap-button{
    #btn-search{
      padding:6px 20px;
      color:white;
      background:$color-xanh;
      font-size:1.4rem;
      border:none;
      box-shadow: none;
      @include media(320px , 480px){
        margin-top:10px;
      }
    }
    @include media(320px , 480px){
       text-align: center;
    };
  }
}
