.main-sidebar{
	background:#222d32;
}
.box{padding:10px}
#table-post td{ vertical-align: middle}
.form-margin{
	margin-bottom:10px;
	clear:both;
}
#preview_img { padding: 10px 0; overflow: hidden; }
.wrap-loading{
	position:absolute;
	padding:10px 20px;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	z-index:9999;
	background:#fff;
	border-radius:0 0 7px 7px;
	display: none;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a{ white-space:inherit;}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4{margin:0;}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p{margin:0;}
span.inline-radio{margin-right:15px;	}

li.img_group { display: block; width: 20%; float: left; margin-right: 10px; margin-bottom: 10px; list-style-type: none; position: relative; }

li.img_group span.remove_btn { position: absolute; top: 5px; right: 5px; cursor: pointer; }

li.img_group span.remove_btn img { border: none; }

li.img_group img { border-radius: 10px; border: 2px solid #c9c9c9; max-height: 108px; margin-bottom: 10px; }

.group-img { position: relative; margin: 10px; text-align: center; }
.group-img .img_replace { display: inline-block; padding: 3px 15px; background: #e8935f; border-radius: 4px; color: white; font-size: 12px; position: relative; z-index: 1; }
.group-img input.btn-img { opacity: 0; position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; cursor: pointer; }

ul.list-img { margin: 0; padding: 0; list-style-type: none; }
ul.list-img li { display: inline-block; width: 20%; padding: 5px; float: left; }
ul.list-img li div.each-img { background: #ededed; padding: 5px; border-radius: 3px; text-align: center; }
ul.list-img li div.each-img p { margin: 0; }
ul.list-img li div.each-img p input { text-align: center; border: 1px solid #bcbcbc; border-radius: 3px; display: inline-block; }

ul.ul-image {
	margin:0; padding:0;
	list-style: none;
}
ul.ul-image li{
	float:left;
	width:calc(100%/5);
	padding:10px;
}
ul.ul-image li button{
	width:100%;
}