div.inner-section{
    background:white;
    padding:30px 0;
}
div.inner-section.bg-yellow{
    background: #ffcb05;
}
div.inner-section.bg-gray{
    /*background: #eeeeef;*/
    background:white;
}

div.inner-section.inner-header{
    padding:10px 0;
}
div.inner-section.inner-reg{
    background:url('../images/bg-keypoint.png')no-repeat;
    background-size: cover;
    background-position: 0 -20px;
}

div.promotion-bottom{
    position: relative;
    background: url(../images/img-promotion-02.png) no-repeat;
    height: 150px;
    position:relative;
}
.promotion-bottom .wrap-promo-bottom{
    position:absolute;
    height:100%;
    width:100%;
    padding-left:400px;
}
.promotion-bottom .wrap-promo-bottom .left-promo-inner{
    width:70%;
    display:inline-block;
    vertical-align:middle;
}
.promotion-bottom .wrap-promo-bottom .right-promo-inner{
    width:25%;
    display:inline-block;
    vertical-align: middle;
    text-align:right;
}
.promotion-bottom .wrap-promo-bottom .right-promo-inner a.btn-register{
    width: auto;
    height: auto;
    line-height: inherit;
    border-radius: 25px;
    bottom: 0.8em;
    font-size: 14px;
    line-height:22px;
    text-transform: uppercase;
    padding: 5px 20px 5px;
}
/* HOME PAGE */
.wrap-slider-country{
    position:relative;
}
.wrap-slider-country h3.title-country{
    font-size:16px;
    color:white;
    text-transform: uppercase;
    position:absolute;
    bottom:30px;
    left:30px;
}
/* DISCOVERY */
.overlay-img:hover a.btn-dis{
	background:;
}
.wrap-keypoint{
    text-align:center;
}
.wrap-keypoint img{
    margin:0 auto;
    display: block;
}

.wrap-keypoint hr{
	margin:25px auto;
}

/* PROMOTION HOME PAGE */

.wrap-slider-promotion a.btn-readmore{
    width: auto;
    height: auto;
    line-height: inherit;
    border-radius: 25px;
    bottom: 0.8em;
    font-size: 0.8em;
    padding: 5px 15px 5px;
}
.each-promo{
	text-align: left;
    min-height:150px;
}
.each-promo h4{
    font-size:16px;
    margin-bottom:10px;
    text-transform: uppercase;
}



.wrap-each-testimotion  a.btn-readmore{
	width: auto;
    height: auto;
    line-height: inherit;
    right: 2em;
    border-radius: 25px;
    bottom: 0.8em;
    font-size: 0.8em;
    padding: 0.4em 1.5em 0.3em;
}

.wrap-each-testimotion h4{
    margin-bottom:8px;
}
/* PROMOTION PAGE */
.wrap-promotion{
    text-align: center;
    margin-bottom:30px;
}


/* TRAI NGHIEM DU HOC */
.wrap-top-testimonial{
    height:500px;
    overflow:hidden;
}
.wrap-top-testimonial .fullheight{
    height:100%;
}
.testimonial-list{
    padding:10px 20px;
}
.testimonial-list h4.title-testi{
    text-transform: uppercase;
    font-size:20px;
    margin:0;
    height:calc(100% - 440px);
}
.testimonial-list .testtimanial-avartar-slider{
    height:440px;
    overflow: hidden;
}
.wrap-slider-landscape{
    height:500px;
}
.wrap-slider-landscape .each-wrap-landscape{
    position:relative;
}
.testtimanial-slider-item h4{
    text-transform: uppercase;
}
.testtimanial-slider-item h5{
    padding-left:20px;
    font-weight: bold;
    margin-bottom:20px;
    margin-top:0;
}
.testtimanial-slider-item a.btn-readmore{
    padding:5px 18px;
    background:#050d9e;
    border:1px solid #050d9e;
    font-size:11px;
    line-height: inherit;
    width:auto;
    height:auto;
    margin-left:20px;
    color:white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.testtimanial-slider-item a.btn-readmore:hover, .testtimanial-slider-item a.btn-readmore:active{
    color:#FFCB04;
}

.testtimanial-slider-item{
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 1px #666;
}

.testtimanial-slider .swiper-pagination{
    left:auto;
    right:2%;
}
.wrap-content-slide-v{
    width:calc(100% - 100px);
    display:inline-block;
}
.wrap-content-slide-v h4{
    font-size:14px;
    margin:0 0 10px;
}
.wrap-content-slide-v p{
    font-size:12px;
}

.wrap-content-slide-v a.btn-readmore{
    padding:4px 15px;
    background:#050d9e;
    border:1px solid #050d9e;
    font-size:11px;
    line-height: inherit;
    width:auto;
    height:auto;
    color:white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.wrap-content-slide-v a.btn-readmore:hover{
    color:#FFCB04;
}
.testtimonial-list-item{
    margin-top:0;
    margin-bottom:30px;
}
.testtimonial-list-item img.img-avatar{
    border:2px solid #050d9e;
    display: inline-block;
    margin-right:15px;
    vertical-align: top;
}
.wrap-each-testimotion img.img-each-testi{
    width:555px;
    height:225px;
}

/* TESTIMOIAL DETAIL */
.testtimonial-detail p.recommend{
    font-size:14px;
    text-transform:uppercase;
    margin:0;
    margin-bottom:15px;
}
.testtimonial-detail ul.list-duhoc{
    padding-left:15px;
}
.testtimonial-detail ul.list-duhoc li{
    padding:3px 0;
}
.testtimonial-detail ul.list-duhoc li a{
    font-size:14px;
    color:#050d9e;
}
.testtimonial-detail a.btn-readmore{
    padding:4px 15px;
    background:#050d9e;
    border:1px solid #050d9e;
    font-size:11px;
    line-height: inherit;
    width:auto;
    height:auto;
    color:white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.testtimonial-detail a.btn-readmore:hover{
    color:#FFCB04;
}



/* TESTIMONIAL FOCUS */
.testtimonial-focus img.img-focus{
    border:2px solid    white;
}
.testtimonial-focus h4{
    font-size:16px;
    font-weight:bold;
    margin:0;
    margin-bottom:20px;
}
.testtimonial-focus blockquote{
    font-size:12px;
    margin-bottom:20px;
}
.testtimonial-focus a.btn-readmore{
    padding:5px 15px;
    background:#FFCB04;
    border:1px solid #FFCB04;
    font-size:11px;
    line-height: inherit;
    width:auto;
    height:auto;
    color:#050d9e;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.testtimonial-focus a.btn-readmore:hover{
    color:white;
}


/* DESTINATION */
.box-destination h4, .box-destination p{
    margin:0; padding:0;
}
.box-destination .content-destination{
    background:white;
    padding:15px;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
}
.box-destination .content-destination .box-destination-header{
    min-height:50px;
}
.box-destination .content-destination h4{
    font-size:16px;
    text-transform:uppercase;
    line-height: 24px;
    color:#050d9e;
    margin-bottom:8px;
}
.box-destination .box-destination-content{
    /*display:none;*/
}
.box-destination .box-destination-content p{
    font-size:12px;
    margin-bottom:15px;
}
.box-destination  .bg-destination img{
    height:100%;
}
.destination-main center p.title-sub{
    margin-bottom:50px;
}

/* COURSE DETAIL */
.course-detail-main center p.title-sub{
    max-width:70%;
    font-size:14px;
}

/* CONTACT */
.contact-left .wrap-promotion-contact .each-promo h4.title-each-promo{
    margin-bottom:10px;
}
.contact-left .wrap-promotion-contact .each-promo p{
    margin-bottom:10px;
}
.contact-right h4{
    margin-bottom:20px;
}


/* FORM */
#formOSC input, #formOSC select{
    color:#050d9e;
}

#formOSC ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#050d9e;
}
#formOSC  ::-moz-placeholder { /* Firefox 19+ */
  color:#050d9e;
}
#formOSC  :-ms-input-placeholder { /* IE 10+ */
  color:#050d9e;
}

#formOSC input.btn-lp{
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    color:white;
}
#formOSC input.btn-lp:hover{
    color:#ffcb05;
    background:#050d9e;
}