@charset "utf-8";
/* CSS Document */

/*=================================Reponsive=================================*/
@media only screen and (max-width: 1200px){
    .topmenu .navbar-default a{
        font-size: 12px;
        padding: 5px 15px;
    }
}
@media only screen and (max-width: 992px){
    .topmenu .navbar-default a{
        font-size: 11px;
        padding: 4px 12px;
    }
    .discover .top-box{
        height: 256px;
    }
    .discover .top-box > div:last-child > div{
        height: 128px;
    }
    .discover .box-text{
        padding: 5%;
    }
    .discover .box-text h2{
        font-size: 20px;
    }
    .title-country{
        font-size: .7em;
        left: 0.5em;
    }
    .btn-dis{
        font-size:0.6em;
    }
    .promotion-bottom h3{
        margin: 0 0 10px;
    }
}
@media only screen and (max-width: 768px){
    .pc{
        display: none;
    }
    .mb{
        display: block;
    }
    .topmenu .navbar-default{
        position: fixed;
        right: 0;
        top: 0;
        background: #ffcb05;
        width: 100%;
        z-index: 9998;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
    }
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover{
        background: #ffcb05;
    }
    .navbar-default .navbar-toggle:focus .icon-bar , 
    .navbar-default .navbar-toggle:hover .icon-bar{
        background: #2b328c;
    }
    .topmenu .navbar-nav .open .dropdown-menu{
        background: rgba(0 ,0 ,0 ,0.1);
        border-radius: 0 !important;
    }
    .logo-box{
        margin-top:40px;
    }
    .navbar-toggle{
        background: #2b328c;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color:#ffcb05;
    }
    .discover .top-box,
    .discover .top-box > div:last-child > div{
        height: 100% ;
        padding: 0;
    }
    .discover .top-box > div:first-child > div{
        padding-right: 0px;
    }
    .discover .top-box > div:last-child > div{
        margin: 5px 0 0 ;
        height: 180px;
        overflow: hidden;
    }
    .discover .top-box > div:last-child > div:nth-child(1),
    .discover .top-box > div:last-child > div:nth-child(3n){
        padding-right: 5px;
        
    }
    .discover .bottom-box > div:not(:last-child){
        padding-right: 0;
        margin-bottom: 5px;
    }
    .discover .bottom-box > div:last-child{
        padding-right: 0;
    }
    .discover .bottom-box > div{
        height: 230px;
        overflow: hidden;
    }
    .pro-test,
    .contact-footer{
        text-align: center;
    }
    .pro-test .hr{
        margin-left: auto;
    }
    .pro-text{
        min-height: auto;
    }
    .overlay-img:before,
    .discover .box-text{
        top: 0;
        right: 0;
    }
    .bg-destination img{
        width: 100%;
    }
    .box-destination a{
        display: block;
    }
    .contact-left > div:nth-child(odd){
        margin: -10px 0 10px;
    }
    .contact-right{
        margin-top: 40px;
        padding: 0 100px;
    }
    .btn-read-02{
        margin-top: 5px;
    }
    .promotion-content .row > div:not(:first-child){
        margin-top: 25px;
    }
    .promotion-bottom{
        background-position: -200px center;
    }
    footer{
        text-align: center;
    }
    footer > div > div > div:not(:last-child){
        border: none;
    }
}
@media only screen and (max-width: 480px){
    .pc{
        display: none;
    }
    .mb{
        display: block;
    }
    .discover .top-box > div:last-child > div{
        height: 110px;
    }
    .discover .top-box > div:last-child > div img{
    }
    .to-local{
        padding: 0 10px;
    }
    .title-slider{
        font-size: 12px;
    }
    article > div section:not(:first-child){
        margin-top: 30px;
         padding: 20px 0 30px; 
    }
    .reg-box{
        padding: 0 10px;
    }
    .bg-destination img{
        width: auto;
    }
    .contact-right{
        padding: 0 40px;
    }
    .contact-footer{
        margin-top: 20px!important;
        padding: 40px 15px 30px!important;
    }
    .promotion-bottom{
        padding: 25px 10px 0 0;
        background-position: -280px center;
    }
    .promotion-bottom > div > div:first-child{
        display: inline-block;
        width: auto;
        margin-left: 100px;
    }
    .promotion-bottom > div > div:last-child{
        margin-top: 0px;
        padding-left: 100px;
    }
}

